

body {
    background-color: black;
    color: whitesmoke;
    height: 100%;
    overflow: hidden;
}

.light {
    background-color: white;
    color: #505050;
    transition: background 2s, color 2s;  
}

.dark {
    background-color: black;
    color: whitesmoke;
    transition: background 2s, color 2s;  
}

.container {
    display: flex;  
  flex-flow: row;
    flex-wrap: nowrap;
  font-weight: bold;
  text-align: center
}

.visual {
    flex: 20;
}

.side-bar {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: monospace;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
    padding: 5px;
    background: rgba(, 0, 0, 0.2);
}

.side-bar-title {
    padding-top: 30px;
    line-height: 26.4px;
    font-size: 20px;
}

.side-bar-element {
    line-height: 20.4px;
    font-size: 12px;
}

.tool-bar {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: monospace;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
    padding: 5px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: monospace;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
    padding-top: 5px;
    line-height: 12.4px;
    font-size: 10px;
    padding-left: 250px;
    padding-right: 250px;
}

div.tooltip {	
    position: absolute;			
    text-align: center;		

    font-family: monospace;
	font-style: normal;
	font-variant: normal;
	font-weight: 1000;
    color: black;
    width: 350px;									
    padding: 2px;					
    border: 0px;		
    border-radius: 10px;			
    pointer-events: none;
}

.tooltip-title {
    font-size: 15px;
}


/*Media queries*/

@media all and (max-width: 1300px) {
    svg {
        width: 900px;
        height: 630px;
    }
}

/*esta es la pantalla de mi mama*/
@media all and (max-width: 1150px) {
    svg {
        width: 700px;
        height: 500px;
    }
    
    .side-bar{
            color: green;
    }
}


@media all and (max-width: 1000px) {
    svg {
        width: 500px;
    }
}